body {
    background-color: #EBF2FA;
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    justify-content: center;
    align-content: center;
}

body, html{
    width: 100%;
}

h1 {
    color: #05668D;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #494949;
    font-family: 'Open Sans',sans-serif;
    font-size : 1.75vh;
    font-weight :700;
}

#pomodoroState-container{
    width: 100%;
    text-align: center;
}

#pomodoroCount{
    font-size: 3.75vh !important;
    margin-bottom: 100px;
    margin-top:0px;
}

#timer {
    color: #427AA1;
    font-family: 'Exo', sans-serif;
    font-size : 8vh;
    margin-bottom: 17px;
    margin-top: 100px;
}

#title {
    font-size : 4.5vh;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 392px;
    min-height: 852px !important;
}

.button-start-pause {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #EBF2FA;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 2vh;
    font-weight :700;
    margin-right: 0.5vh;
}

.button-start-pause:hover {
    color: #ffffff !important;
    background: #41ac64;
    border-color: #41ac64 !important;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 2vh;
    font-weight :700;
    }

.button-stop {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #EBF2FA;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 2vh;
    font-weight :700;
    margin-left: 0.5vh;
}

.button-stop:hover {
    color: #ffffff !important;
    background: #f63b3b;
    border-color: #f63b3b !important;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 2vh;
    font-weight :700;
    }

.button-flex-container{
    margin-bottom: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
}